<h1>Détails du produit</h1>

<div class="product-details">
  <p><span>Nom :</span> <%= product.name %></p>
  <p><span>Prix :</span> <%= product.price %> €</p>
</div>

<a href="/products" class="btn btn-primary">
  ↩ Retour à la liste
</a>
